-var section = $i18n.pages.properties
h2.font-weight-bold.color-blue200= section.header
div.grid-properties.grid--properties
    each badge in section.badges
        div 
            h4.font-weight-bold= badge.header
            p= badge.description
        