<!DOCTYPE html>
html(lang="cs")
    title #{$i18n.title}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    meta(name="description" content="#{i18n.wounds.description}")
    link(href="css/fonts.css" rel="stylesheet")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    link(href="css/general.css" rel="stylesheet")
    <link rel="icon apple-touch-ico" type="image/png" href="images/logo.png"/>
    <script src="js/script.js">
    </script>
    <meta charset="UTF-8">  
body 
    div.container--header 
        <video id="background-video" autoplay loop muted poster="images/alfasilver-poster.jpg">
            <source src="videos/alfasilver-20s.mp4" type="video/mp4">
        </video>
        header.container--margin.introduction--container.nopadding-top
            include _introduction.pug 
    main

        article(id="alfasilver").container--margin.alfasilver--container
            include _alfasilver.pug
        article(id="wounds").container--margin.wounds--container
            include _wounds.pug
        article(id="properties").container--margin.properties--container.nopadding-bottom
            include _properties.pug
        article(id="instructions").container--margin.instructions--container.nopadding-bottom
            include _instructions.pug
        article(id="faq").container--margin.faq--container.nopadding-bottom
            include _faq.pug
        article(id="partners").container--margin.partners--container
            include _partners.pug
        footer(id="contact")
            div.logo.sidemargin--left
                img(src="images/logo2.png" alt="Alfasilver logo" class="img-fluid")
            div.container--margin.contacts--container
                include _contact.pug
    div.alwaysOn !{$i18n.alwaysOn}

    //- div.scrollOver
    //- footer(class="contact")
    //-     div.background
    //-         div.container
    //-             include _contact.pug
    //-         div.sideMargin.copyRight
                //- small= "© 2014-2020 " + $i18n.pages.billing.companyName
