<!DOCTYPE html>
html(lang="cs")
    title #{$i18n.title}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    meta(name="description" content="#{i18n.wounds.description}")
    link(href="css/fonts.css" rel="stylesheet")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    link(href="css/general.css" rel="stylesheet")
    <link rel="icon apple-touch-ico" type="image/png" href="images/favicon.png"/>
    script(type="text/javascript").

        window.onload = function () {
            const slider = document.querySelector(".slider--animate")
            const elements = slider.children
            const holder = elements[0] 

            function fadeOut(el) {
                el.style.opacity = 0
            }

            function fadeIn(el) {
                el.style.opacity = 1
            }

            function changeText(holder, idx) {
                holder.innerHTML = elements[idx].innerHTML
            }

            function animate() {
                let idx = 2
                return () => {
                    fadeOut(holder)
                    setTimeout(() => {
                        if (idx >= elements.length) idx = 1
                        changeText(holder, idx++)
                        fadeIn(holder)
                    }, 800)
                }
            }
            setInterval(animate(), 3000)

            function handleActive(items, cb) {
                return function(e) {
                    const wasActive = this.classList.contains("active")
                
                    //- for (let f of items) {
                    //-     f.classList.remove("active")
                    //- }
                    if (!wasActive) {
                        this.classList.add("active")
                        if (cb) cb(this)
                    }
                    if (wasActive) {
                        this.classList.remove("active")
                    }
                }
            }

            const faqs = document.querySelectorAll(".faq--container > .grid-properties  .property")
            for (let f of faqs) {
                f.addEventListener("click", handleActive(faqs))
            }


            const imagesInstructions = document.querySelectorAll(".image-instructions > img")
            function changeImage(el) {
                const imageSrc = el.getAttribute("data-image")
                if (imageSrc) {
                    for (let img of imagesInstructions) {
                        img.src = imageSrc
                    }
                }
            }

            const instructions = document.querySelectorAll(".instructions--container .grid-properties  .property")
            for (let f of instructions) {
                f.addEventListener("click", handleActive(instructions, changeImage))
            }
          
            const movableImage = document.querySelector("#movable-alfasilver")
            const staticImage = document.querySelector(".wounds--container")
            const offset = movableImage.offsetTop
            const maxTop = staticImage.offsetTop - 200
            console.log("maxTop", maxTop, staticImage.getBoundingClientRect())
            window.onscroll = function (e) {  
                const scrollTop = window.pageYOffset || document.documentElement.scrollTop
                const target = offset +scrollTop
                console.log(movableImage.style.top, scrollTop)
                if (target < maxTop) {
                movableImage.style.top = `${offset +scrollTop}px`
                }

            } 
        } 
    <meta charset="UTF-8">
body
    div.container--header
        <video id="background-video" autoplay loop muted poster="images/bike.png">
            <source src="videos/alfasilver-20s.mp4" type="video/mp4">
        </video>
        header.container--margin.introduction--container.nopadding-top
            include _introduction.pug 
    main

        article(id="alfasilver").container--margin.alfasilver--container
            include _alfasilver.pug
        article(id="wounds").container--margin.wounds--container
            include _wounds.pug
        article(id="properties").container--margin.properties--container.nopadding-bottom
            include _properties.pug
        article(id="instructions").container--margin.instructions--container.nopadding-bottom
            include _instructions.pug
        article(id="faq").container--margin.faq--container.nopadding-bottom
            include _faq.pug
        article(id="partners").container--margin.partners--container
            include _partners.pug
        footer(id="contact")
            div.logo.sidemargin--left
                img(src="images/logo2.png" alt="Alfasilver logo" class="img-fluid")
            div.container--margin.contacts--container
                include _contact.pug
    div.alwaysOn !{$i18n.alwaysOn}

    //- div.scrollOver
    //- footer(class="contact")
    //-     div.background
    //-         div.container
    //-             include _contact.pug
    //-         div.sideMargin.copyRight
                //- small= "© 2014-2020 " + $i18n.pages.billing.companyName
