@import "normalize";

$blue100: #00B3EE;
$blue200: #4F99D6;
$blue300: #0090CF;
$red100: #D1301C;
$grey10: #EBEBEB;
$grey50: #F5F5F5;
$grey200: #A8ABAF;
$grey300: #9B9B9B;
$grey400: #7B7B7B;
$grey500: #6E6E6E;
$grey600: #606060;

$sidePadding: 2.3rem;
$bottomPadding: 3rem;
$topPadding: 3.3rem;
$topPaddingMobile: 3.3rem;
 
$innerPadding: 2rem;
/* GENERAL */ 
html, body {
  font-family: "DIN Pro", "Lucida Grande", Tahoma, Sans-Serif;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.logo {
  width: 6.6rem;
  height: 7.2rem;
  padding: 0.9rem;
  // background-image: url("../images/logo2.png");
  display: flex;
  align-items: flex-end;
  background-color: white;
}


h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 900;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: normal;
}

h3 {
  font-size: 1.3rem; 
}

h4 {
  font-size: 1.1rem;
  text-transform: uppercase;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: medium;
}

address {
  margin: 0;
}

.m-col-6{
  width: 50%;
}

.mobile-col-6{
  width: 50%;
}


.slider {
  width: 263px;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 0.9rem 1.3rem 0.7rem 1.3rem;
  // padding: 0.9em 0 0.7em 0;
  font-size: 20px;
  background-color: $red100;

  &>div {
    width: 100%;
    text-align: center;
    // position: absolute;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s linear;
  }
  
  .hidden {
    display: none;
  }
}


@media screen and (max-width: 1024px){
  p, address {
    font-size: 14px;
  }
  .desktop-only-1024 {
    display: none;
  }
}


@media screen and (min-width: 1025px){
  .mobile-only {
    display: none;
  }
  .mobile-col-6 {
    width: 100%;
  }
} 

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.nopadding-bottom {
  padding-bottom: 0 !important;
}
.nopadding-top {
  padding-top: 0 !important;
}

.margin-bottom-24 {
  margin-bottom: 1.5rem;
}
.margin-bottom-16 {
  margin-bottom: 1rem;
}
.margin-bottom-14 {
  margin-bottom: 0.9rem;
}

.sidemargin--left {
  margin-left: $sidePadding;
}
.container--margin {
  padding-left: $sidePadding;
  padding-right: $sidePadding;
  padding-bottom: $bottomPadding;
  padding-top: $topPadding;
}
.color-blue200 {
  color: $blue200;
}

$header-padding-top: 7.2em;
.introduction--container {
  position: relative;
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../images/bike.png");
  // background-image: url("../images/bike2.png");
  padding-bottom: 12rem;
  background-size: cover;
  color: white;
  // height: 36em;

  .header {
    padding-top: $header-padding-top;
  }
  h1 { 
    margin-top: 0.2em;
    margin-bottom: 0.3em;
  }
}

.img-label {
  font-size: 10px;
  margin: 0;
}

.alfasilver--container {
  position: relative;
  background-color: white;
    img {
      height: 20em;
      margin-top: -14em;
    }
  

  h4 {
    margin-top: -1em;
    padding-left: $sidePadding / 2;
    color: $grey300;
    b {
      color: black;
    }
  }

  h2 {
    margin-top: 2.8rem;
    font-weight: bold;
  }
}

.wounds--container {
  z-index: 2;
  // background-color: $blue200;
  background: transparent radial-gradient(closest-side at 50% 0%, $blue100 0%,  $blue200 100%) 0% 0% no-repeat padding-box;;
  color: white
}

.grid--wounds  {
  .m-badge {
    background-color: white;
    fill: $red100;
  }

  p {
    margin-top: 1rem;
    font-size: 14px;
    margin-bottom: 0;
  }
}

.grid-wounds {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-gap: 0.7rem;
}

.grid-wounds > div::before {
  content: "";
  padding-bottom: 20%;
  display: block;
}

.grid-wounds > div::after {
  content: "";
  padding-bottom: 10%;
  display: block;
}

.grid--wounds {
  color: black
}


.grid-properties {
  display: flex;

  // grid-template-columns: repeat(auto-fill, minmax(180px, 3fr));
  flex-direction: column;

  .property { 
    position: relative;
    background-color: $grey10;
    padding: $innerPadding;
    margin-bottom: 0.7rem;

    &:last-child {
      margin-bottom: 0;
    }
    
  }

  .property--arrow:before {
    content: "\A";
    border-style: solid;
    border-width: 6px 10px 6px 0;
    transform: rotate(-90deg);
    border-color: transparent black transparent transparent;
    position: absolute;
    top: $innerPadding + 0.4;
    right: $innerPadding / 2;
    
  }

  p {
    margin: 0;
    display: none;
  }

  .active {
    background-color: $blue200;
    color: white;
    &:before {
      transform: rotate(90deg);
    }
    p {
      display: block;
    }
  }
}
.grid-properties--active {
  p {
    display: block;
  }
}

.partners-img--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  

  // &> div {
  //   flex: 50%;
  // }
}
.partner--container {
  max-width: 268px;
  // width: 50%;
}
@media screen and (min-width: 330px){
  .partner--container {
    width: 50%;
  }
}

.image-instructions {
  margin-bottom: 0.7rem;
  img {
    width: 100%;
  }
}

.underline {
  text-decoration: underline;
}
$footer-margin-top: 2.7em;
footer {
  background-color: $grey600;
  color: white;
  position: relative;
  a {
    text-decoration: none;
    color: inherit;
  }
  p {
    margin: 0;
  }

  .logo {
    position: absolute;
    width: 4.1rem;
    height: 4.5rem;
    padding: 0.7em;
  }

  .contacts--container > div:first-child{
      margin-top: $footer-margin-top;
      margin-bottom: 3em;
  }
}

.alwaysOn {
  font-size: 0.5rem;
  position: fixed;
  z-index: 100;
  background-color: $grey50;
  color: $grey500;
  top: 75vh;
  right: 0;

  padding: 1rem;
  width: 12.3rem;
  
}

.col1--faq {
  margin-bottom: 0.7rem;
}

// -------------------- DESKTOP ------------------- //
nav {
  margin-right: -1rem;
  ul {
    padding-inline-start: 0px;
    margin-top: 1.4rem;
  

  li {
    display: inline-block;
    margin-top: 1rem;


    a {
      color: white;
      padding: 1rem 1rem 1rem 1rem;
      font-size: 1.1rem;
      // font-weight: 700;
      text-transform: uppercase;

      &:hover{
        color: $grey10;
        text-decoration: none;
      }
    }
  }
}
}

.image--properties {
  text-align: center;
  img {
    width: 13rem;
  }
}
.header-top {
  display: flex;
  justify-content: space-between;
}

$sidePadding: $sidePadding *2;
$topPadding: $topPadding* 1.3;

.desktop-only-1024 {
  display: none;
}
#background-video {
  display: none;
}

.desktop-col-spray {
  display: none; 
  color: red;
}

// 392 left header
@media screen and (min-width: 1024px){
  .container--margin {
    padding-left: $sidePadding;
    padding-right: $sidePadding;
    padding-top: $topPadding;
  }
  .sidemargin--left {
    margin-left: $sidePadding;
  }

  #background-video {
    display: initial;
    width: 100vw;
    top: 0;
    // position: absolute;
    object-fit: cover;
    position: absolute;
    filter: brightness(70%);
  }

  .logo {
    width: 8.7rem;
    height: 9.4rem;
    padding: 1.2rem;
  }

  .introduction--container {
    background: none;
    padding-bottom: $bottomPadding;
    .header {
      padding-top: $header-padding-top + 5;
    }
  }
  .desktop-col-spray {
    display: block;
    width: 34%;
  }
  .desktop-col-text {
    width: 66%;
    // padding-right: 20%;
  }

  .img-label {
    font-size: 0.8rem;
  }
  .alfasilver--container{
    h4 {
      padding: 0;
      margin-top: -3rem;
      font-size: 1.5rem;
    }

    // .desktop-col-text { 
      
    // }

    h2 {
      visibility: hidden;
      margin-top: 2rem;
    }
    h5 {
      font-size: 2rem;
      margin-bottom: 3rem;
    }
  }

  .wounds--container {
    position: relative;
    padding-top: $topPaddingMobile !important;

    .grid-wounds {
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
  }
  // 196+75 = 271
  .image--wounds {
    z-index: 1;
    position: absolute;
    width: 15.5rem;
    bottom: $bottomPadding - 0.9;
  }
  #movable-alfasilver {
    top: 271px;
  }

  .grid--wounds .m-badge {
    fill: $grey200;
    &:hover {
      fill: $red100;
    }
  }

  .desktop-only-1024{
    display: block;
  }
  .desktop-col-4 {
    width: 33.33%;
  }

  $instructionsTop: 4rem;
  .grid--properties {
    flex-direction: row;
    margin-top: $instructionsTop;

    .property {
      max-width: 17.5rem;
      background-color: $grey50;
      padding: 1.5rem;
    }
    .desktop-col-4:last-child .property{
      float: right;
    }
    .image--properties {
      margin-top: -$instructionsTop
    }
  }

  .properties--container h2 {
    padding-bottom: 4rem;
  }

  .grid--faq {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  .desktop-align-center-1024 {
    text-align: center;
  }

  footer .logo {
    width: 4.7rem;
    height: 5.2rem;
  }

  .contacts--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }

  .contacts--container > div:last-child{
    margin-top: $footer-margin-top;
  }

  .tips--container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
  $partner-padding-side: 2rem;
  .partners-img--container {
    margin-left: -$partner-padding-side;
    margin-right: -$partner-padding-side;
  }
  .partner--container {
    padding-left: $partner-padding-side;
    padding-right: $partner-padding-side;
    padding-bottom: 1rem;
    filter: grayscale(100%);

    &:hover {
      filter: none;
    }
  }

} 



@media screen and (max-width: 1354px){
  .desktop-only-1355 {
    display: none;
  }
}


$sidePadding: $sidePadding * 2;
$topPadding: $topPadding* 1.2;
@media screen and (min-width: 1355px){
  .container--margin {
    padding-left: $sidePadding;
    padding-right: $sidePadding;
    padding-top: $topPadding;
  }

  .sidemargin--left {
    margin-left: $sidePadding;
  }


  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem; 
  }

  p, address {
    font-size: 1rem;
  }

  .desktop-align-center {
    text-align: center;
  }

}

$sidePadding: $sidePadding *1.5;
$topPadding: $topPadding *1.2;
@media screen and (min-width: 1500px){
  .container--margin {
    padding-left: $sidePadding;
    padding-right: $sidePadding;
    padding-top: $topPadding;
  }
  .sidemargin--left {
    margin-left: $sidePadding;
  }

  .wounds--container .grid-wounds {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }
} 
